<div class="about" ng-title="Sercan Eraslan">
    <img src="/img/static/sercaneraslan.jpg" height="175" width="175" alt="" />

    <h1><span>Sercan Eraslan</span> Sr. Front-End Developer</h1>

    <p><a href="http://grabs.in">Grabs</a> Kurucu ve Geliştiricisi. Açık kaynak destekçisi.</p>
    <p>Bir <a href="http://www.sahibinden.com">sahibinden.com</a> çalışanı. Orta Seviye Barista. "30 dakikada XHTML", "40 dakikada CSS", "25 dakikada HTML5" kitaplarının yazarı.</p>

    <ul>
        <li>
            <a href="https://github.com/sercaneraslan" title="Github" class="github"></a>
        </li>
        <li>
            <a href="https://twitter.com/sercan_eraslan" title="Twitter" class="twitter"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/seraslan" title="LinkedIn" class="linkedIn"></a>
        </li>
        <li>
            <a href="https://bitbucket.org/sercaneraslan" title="Bitbucket" class="bitbucket"></a>
        </li>
        <li>
            <a href="mailto:info@sercaneraslan.com" title="Email" class="email"></a>
        </li>
    </ul>
</div>
<!-- .about -->
