/*
*
* Homepage Styles
*
*/

@import mixins

.homePage
    background gradient()

.about
    padding-top 20%
    overflow hidden

    h1
        margin 20px 0px 30px 0
        font-size 30px
        color $white
        text-align center

    img
        display block
        height 175px
        width 175px
        border-radius 50%
        margin 0 auto
        border 3px solid $white
        transition all ease .2s

        &:hover
            box-shadow 0 0 35px 10px $white
            transition all ease .2s

    p
        width 90%
        max-width 450px
        margin 0 auto
        text-align center
        line-height 22px
        font-size 14px
        color $white

        a
            color $white

    ul
        width 150px
        margin 20px auto 75px auto

        li
            float left
            margin-left 8px

            a
                font normal normal normal 14px/1 FontAwesome
                text-rendering auto
                -webkit-font-smoothing antialiased
                -moz-osx-font-smoothing grayscale
                font-size 25px
                color $white

            .github:before
                content "\f092"

            .twitter:before
                content "\f081"

            .linkedIn:before
                content "\f08c"

            .email:before
                content "\f199"

            .instagram:before
                content "\f16d"
