<ng-head ng-title="Sercan Eraslan"></ng-head>
<ng-head ng-content="Grabs kurucu ve geliştiricisi, açık kaynak destekçisi, bir sahibinden.com çalışanı, orta seviye barista, kitap, doküman ve blog yazarı."></ng-head>

<div class="about">
    <img src="/img/static/sercaneraslan.jpg" height="175" width="175" alt="" />

    <h1><span>Sercan Eraslan</span> Sr. Front-End Developer</h1>

    <p><a href="http://grabs.in">Grabs</a> kurucu ve geliştiricisi, açık kaynak destekçisi,</p>
    <p>bir <a href="http://www.sahibinden.com">sahibinden.com</a> çalışanı, orta seviye barista, kitap, doküman ve blog yazarı.</p>

    <ul>
        <li>
            <a href="https://github.com/sercaneraslan" title="Github" class="github"></a>
        </li>
        <li>
            <a href="https://twitter.com/sercan_eraslan" title="Twitter" class="twitter"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/seraslan" title="LinkedIn" class="linkedIn"></a>
        </li>
        <li>
            <a href="mailto:info@sercaneraslan.com" title="Email" class="email"></a>
        </li>
    </ul>
</div>
<!-- .about -->
