/*
*
* Global Styles
*
*/
@import mixins

@font-face
    font-family MuseoSansBold
    src url(../font/MuseoSans.otf)

@font-face
    font-family Helium
    src url(../font/Helium.woff)

@font-face
    font-family FontAwesome
    src url(../font/FontAwesome.woff)

body
    font-family MuseoSansBold
    padding 65px 0 25px 0
    font-size 14px

.container
    alignment()
    overflow auto

a
    text-decoration none
    color $green
