/*
*
* Variables
*
*/

/* Global */
$pageWidth = 1024px
$headerHeight = 65px;

/* Colors */
$white = #fff
$softWhite = #f9fbfb
$dirtyWhite = #f7f7f7
$softGray = #dedede
$blue = #52bccc
$softGreen = #8bd6c2
$green = #5fd9ae
$smokedColor = #2a333b
