/*
*
* Variables
*
*/

/* Global */
$pageWidth = 1024px
$headerHeight = 65px;

/* Colors */
$white = #fff
$softWhite = #f9fbfb
$dirtyWhite = #f7f7f7
$softGray = #dedede
$blue = #32B7C6
$softGreen = #E5E9B4
$green = #5fd9ae
$smokedColor = #2a333b
