<ng-head ng-title="Sercan Eraslan - Dokümanlar"></ng-head>
<ng-head ng-content="XHTML, CSS ve HTML5 dokümanlarını okuyarak kısa sürede kendinizi geliştirin."></ng-head>

<div class="documents">
    <ul>
        <li>
            <a href="/xhtml">
                <ul>
                    <li>
                        <h2>XHTML</h2>
                    </li>
                    <li>
                        <span>HTML ve XHTML hakkında basit bir dil ile anlatılmış 17 sayfa doküman bulunmaktadır. Detaylı ve çalışan örneklerle öğrenmeye hemen başlayabilirsiniz.</span>
                    </li>
                </ul>
            </a>
        </li>
        <li>
            <a href="/css">
                <ul>
                    <li>
                        <h2>CSS</h2>
                    </li>
                    <li>
                        <span>CSS hakkında basit bir dil ile anlatılmış 27 sayfa doküman bulunmaktadır. Detaylı ve çalışan örneklerle öğrenmeye hemen başlayabilirsiniz.</span>
                    </li>
                </ul>
            </a>
        </li>
        <li>
            <a href="/html5">
                <ul>
                    <li>
                        <h2>HTML5</h2>
                    </li>
                    <li>
                        <span>HTML5 hakkında basit bir dil ile anlatılmış 14 sayfa doküman bulunmaktadır. Detaylı ve çalışan örneklerle öğrenmeye hemen başlayabilirsiniz.</span>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</div>
<!-- .documents -->
