<ng-head ng-title="Sercan Eraslan - Projeler"></ng-head>
<ng-head ng-content="Github üzerindeki açık kaynak projelere bu sayfadan ulaşabilirsiniz."></ng-head>

<div class="projects">
    <ul>
        <li>
            <ul>
                <li><h2>Projeler</h2></li>
                <li><a href="https://github.com/sercaneraslan/grabs">Grabs</a></li>
                <li><a href="https://github.com/sercaneraslan/haller.js">Haller.js</a></li>
                <li><a href="https://github.com/sercaneraslan/genius">Genius</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><h2>Katkılar</h2></li>
                <li><a href="https://github.com/angular/angular.js">Angular.js</a></li>
                <li><a href="https://github.com/angular/angularjs.org">Angularjs.org</a></li>
                <li><a href="https://github.com/facebook/react">React</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li><h2>Sahibinden.com</h2></li>
                <li><a href="https://github.com/sahibinden/jquery-tipitip">Tipitip.js</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- .projects -->
