/*
*
* Homepage Styles
*
*/

@import mixins

.booksPage
    background gradient()

.books
    padding-top 20%

    .sub-title
        color $white
        width 50%
        margin 0 auto
        text-align center
        line-height 18px

/* Book */
.book
    position relative
    float left
    width 130px
    height 180px
    margin 90px 86px 130px 115px
    -webkit-perspective 1000px
    perspective 1000px
    -webkit-transform-style preserve-3d
    transform-style preserve-3d
    border-left 9px solid #999
    cursor pointer

    &:hover
        & > .hardcover-front
            -webkit-transform rotateY(-145deg) translateZ(0)
            transform rotateY(-145deg) translateZ(0)
            z-index 0

        & > .pages
            li
                &:nth-child(1)
                    -webkit-transform rotateY(-30deg)
                    transform rotateY(-30deg)
                    transition-duration 1.5s
                &:nth-child(2)
                    -webkit-transform rotateY(-35deg)
                    transform rotateY(-35deg)
                    transition-duration 1.8s
                &:nth-child(3)
                    -webkit-transform rotateY(-118deg)
                    transform rotateY(-118deg)
                    transition-duration 1.6s
                &:nth-child(4)
                    -webkit-transform rotateY(-130deg)
                    transform rotateY(-130deg)
                    transition-duration 1.4s
                &:nth-child(5)
                    -webkit-transform rotateY(-140deg)
                    transform rotateY(-140deg)
                    transition-duration 1.2s

/* Hard Cover */
.hardcover-front
    -webkit-transform-origin 0% 100%
    -webkit-transform rotateY(-34deg) translateZ(8px)
    transform-origin 0% 100%
    transform rotateY(-34deg) translateZ(8px)
    z-index 100
    transition all 0.8s ease, z-index 0.6s

    li
        &:first-child
            cursor default
            -webkit-user-select none
            -moz-user-select none
            user-select none
            -webkit-transform translateZ(2px)
            transform translateZ(2px)

        &:last-child
            -webkit-transform rotateY(180deg) translateZ(2px)
            transform rotateY(180deg) translateZ(2px)
            border-radius 3px
            left 2px

        img
            border-radius 0 3px 3px 0

.hardcover-front
.hardcover-back
.hardcover-front li
.hardcover-back li
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    -webkit-transform-style preserve-3d
    transform-style preserve-3d

.hardcover-front li:last-child
.hardcover-back li:first-child
.hardcover-back li:last-child
    background #fffbec
    border-radius 3px

.hardcover-back
    width 95%

/* Pages */
.pages
    width 100%
    height 100%
    z-index 10

    & > li
        background -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%)
        background -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%)
        background linear-gradient(left, #e1ddd8 0%, #fffbf6 100%)
        box-shadow inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2)
        border-radius 0 3px 3px 0
        width 100%
        height 100%
        -webkit-transform-origin left center
        transform-origin left center
        transition-property transform
        transition-timing-function ease

        &:nth-child(1)
        &:nth-child(2)
        &:nth-child(5)
            transition-duration 0.6s

        &:nth-child(3)
            transition-duration 0.4s

        &:nth-child(4)
            transition-duration 0.5s

    li
        &:nth-child(1)
            -webkit-transform rotateY(-28deg)
            transform rotateY(-28deg)

        &:nth-child(2)
            -webkit-transform rotateY(-30deg)
            transform rotateY(-30deg)

        &:nth-child(3)
            -webkit-transform rotateY(-32deg)
            transform rotateY(-32deg)

        &:nth-child(4)
            -webkit-transform rotateY(-34deg)
            transform rotateY(-34deg)

        &:nth-child(5)
            -webkit-transform rotateY(-36deg)
            transform rotateY(-36deg)

.pages
.pages > li
    position absolute
    top 0
    left 0
    -webkit-transform-style preserve-3d
    transform-style preserve-3d

/* Buttons */
.book-buttons
    margin 65px 25px

.book-buttons
    a
        display inline-block
        width 77px
        border 2px solid #2c3e50
        color #2c3e50
        font-size 11px
        font-weight 700
        padding 2px
        margin-bottom 10px
        text-align center
        border-radius 2px

        &:hover
            color #2cc185
            border 2px solid #2cc185

/* Description */
figcaption
    width 265px
    text-align center
    color $white
    position absolute
    top -90px
    left -74px

    h2
        font-size 25px
        padding 15px
        border 2px solid $white
        border-radius 5px

    p
        line-height 18px
        text-align center
        width 200px
        position absolute
        top 305px
        left 35px

/* Responsive */
@media only screen and (max-width 1140px)
    .books
        margin 0px auto
        width 680px

@media only screen and (max-width 768px)
    .books
        margin inherit
        width inherit

    .book
        float inherit
        margin 100px auto 230px auto
       
        &:last-child
            margin-bottom 130px
